.item-img-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;

	& > img.item-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 250%;
	}
}

.product-modal.cart {
	& .MuiSelect-select {
		padding-top: 4px;
	}
}

.product-modal {
	width: 90%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1rem;
	overflow: hidden;
	max-width: 500px;

	&.cart {
		height: 80%;
		padding: 20px;

		& > section {
			height: calc(91% - 130px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		& > .order-wrapper {
			height: calc(100% - 60px);
		}

		& input {
			border: none;
			outline: none;
			width: 100%;
			height: 100%;
			border-right: 1px solid #ccc;
			border-left: 1px solid #ccc;
			text-align: center;
		}
	}
}

.product-img-wrapper {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;

	& > img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 110%;
	}

	// &.modal {
	// 	// border-bottom-left-radius: 30px;
	// 	// border-bottom-right-radius: 30px;
	// }
}

.quantity-wrapper {
	& svg {
		fill: #ccc;
		transition: 200ms ease;

		&:active {
			fill: #000;
		}
	}
}

.css-1vld2vt-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type),
.css-1vld2vt-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:first-of-type) {
	border: none !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	// border-radius: 0 !important;
	text-align: center;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
	text-align: center;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 2px 14px !important;
}

.cart-item {
	position: relative;
	transform: translateX(0%);
	transition: 350ms cubic-bezier(0.7, 0.28, 0.27, 0.91);
	opacity: 1;

	&.delete {
		transform: translateX(200%);
		opacity: 0;
	}
}

.order-details {
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;

	& .status {
		color: orangered;
		text-align: right;
	}

	& .thumb-wrapper {
		width: 40px;
		height: 40px;
		overflow: hidden;
		position: relative;

		& > img {
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	& > .top,
	.item,
	.quantity {
		padding: 10px;
	}

	& > .item {
		border-bottom: 1px solid #ccc;
	}

	& > .quantity {
		color: #999;
	}
}

.delivery-fee {
	padding: 16px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 10px;
	// font-size: 12px;

	& strong {
		float: right;
		color: orangered;
	}
}
