.notification {
	position: fixed;
	bottom: 20px;
	left: 50%;
	padding: 0.5rem 1rem;
	padding-left: 0.5rem;
	background: #fff;
	box-shadow: 0px 10px 16px rgba($color: #000000, $alpha: 0.3);
	z-index: 9;
	border-radius: 2px;
	transform: translate(-50%, 125%);
	opacity: 0;
	transition: 200ms ease;
	width: 75%;
	text-align: center;
	border: 1px solid orangered;

	&.show {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

.best-seller {
	padding: 0.1rem 0.2rem;
	background-color: red;
	color: white;
	font-size: 12px;
	float: right;
	text-align: center;

	&.row {
		padding: 0.2rem 0.3rem;
		display: block;
		float: none;
		width: 70px;
		margin-left: auto;
	}

	&.small {
		font-size: 8px !important;
	}
}

#product-card {
	transform: scale(1);
	transition: 200ms ease;
	&:active {
		transform: scale(0.9);
	}
}
