.swipeable-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  z-index: 1000;
}

.carousel-img-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  & > img {
    width: 110%;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1000;
  }
}

.carousel-product-description {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: #fff;
  z-index: 1001;

  & > .product-name,
  .product-price {
    margin: 0;
  }

  & > .product-name {
    font-size: 1.8rem;
  }

  & > .product-price {
    color: goldenrod;
  }
}

.product-name,
.product-price {
  margin: 0;
}

.product-details {
  padding: 14px;

  & > .product-name.card-name {
    color: #999;
  }
}

.product-modal {
  width: 90%;
  height: 90%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  overflow: hidden;
  //   padding: 20px;
}

.product-img-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;

  &.modal {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
