.swipeable-wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 110%;
	z-index: 1000;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 40%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	}
}

.carousel-img-wrapper {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;

	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

	& > img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 180%;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 70%;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
		z-index: 1000;
	}
}

.carousel-product-description {
	position: absolute;
	bottom: 20px;
	left: 50px;
	color: #fff;
	z-index: 1001;
	width: calc(100% - 100px);

	& .product-name,
	.product-price {
		margin: 0;
		word-break: keep-all;
		width: 100%;
	}

	& .product-name {
		font-size: 1.8rem;
	}

	& .product-price {
		color: orange;
	}
}

.product-name,
.product-price {
	margin: 0;
	word-break: break-all;
	width: 100%;
}

.product-details {
	padding: 14px;

	& > .product-name.card-name {
		color: #999;
	}
}
