/* HEADER STYLES */
.logo-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding: 0.5rem;
	& > img {
		width: 100%;
		position: relative;
		transition: max-width 250ms ease-in-out;
		max-width: 40px;
	}
}

.header {
	width: 100%;
	max-width: 500px;
	height: 400px;
	background-color: #000;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	position: relative;
	overflow: hidden;
	z-index: 1;

	& > .top-bar {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1002;
		max-width: 500px;
	}

	//   &::after {
	//     content: '';
	//     position: absolute;
	//     top: 0;
	//     left: 0;
	//     right: 0;
	//     height: 40%;
	//     background: linear-gradient(
	//       to bottom,
	//       rgba(0, 0, 0, 0.9),
	//       rgba(0, 0, 0, 0)
	//     );
	//     z-index: 1000;
	//   }
}

.search-bar {
	& div {
		border-color: #fff;
		background-color: rgba($color: #fff, $alpha: 0.4);
	}
}
