@import "./components/Header/header.scss";
@import "./components/Swipeable/swipeable.scss";
@import "./components/Cart/cart.scss";
@import "./components/Menu/menu.scss";
@import "./components/CustomerInfo/customer.scss";
@import "./components/Map/map.scss";

body {
	padding: 0;
	margin: 0;
	background-color: #eee;
	overflow: hidden;
}

body,
* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.react-swipeable-view-container {
	height: 100% !important;

	& > div {
		height: 100%;
	}
}

.App {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
}

.blr {
	transition: filter 100ms ease;
	filter: blur(0);
	opacity: 1;

	&.blur {
		filter: blur(5px);
		opacity: 0.4;
	}
}

.add-to-home {
	padding: 1rem;
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 9999;
	text-align: right !important;
	box-shadow: 0 -20px 20px -2px rgba(0, 0, 0, 0.1);
	max-width: 500px;

	& > .logo-name-wrapper {
		display: flex;
		align-items: center;
		text-align: left;
		margin-bottom: 2rem;

		& strong {
			margin: 0 0 5px;
			display: block;
		}

		& > img {
			width: 45px;
			margin-right: 10px;
		}
	}

	& > button {
		padding: 8px 16px;
		background-color: orangered;
		color: #fff;
		border: none;
		outline: none;
		border-radius: 4px;
		text-transform: uppercase;
	}

	& .close-add-wrapper {
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
		background-color: #fff;
		position: absolute;
		top: 16px;
		right: 16px;

		& > svg {
			font-size: 16px;
		}
	}
}

.view-all-wrapper {
	position: relative;
	overflow: hidden;

	& > .top {
		width: 100%;
		display: flex;
		align-items: center;
		background: #fff;
		padding: 0.6rem 1rem;

		&.best {
			background-color: #d32f2f;
			color: #fff;
		}
	}

	& > .products-wrapper {
		max-height: calc(100vh - 110px);
		overflow-y: auto;
		padding-bottom: 80px;
	}

	& > .to-top {
		opacity: 0;
		transform: translateX(0%) scale(0.1);
		transform-origin: center center;
		transition: 200ms ease;
		min-height: 64px;
		border-radius: 100%;

		&.show {
			opacity: 1;
			transform: translateX(0%) scale(1);
		}
	}
}
