.container {
    // display: flex;
    // padding: 1rem;
    height: 100vh;
    position: relative;
}

.map-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.search-bar {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 85%;

    & > div {
        background-color: #fff;
        box-shadow: 0 5px 8px -1px rgba(0,0,0,.1);

        & > div {
            & > fieldset {
                border: none !important; 
            }
        }
    }
}